@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

.section-container{
    width: 1296px;
    margin: 0 auto;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.w-33{
    width: 33%;
}

.w-25{
    width: 25%;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.default-d-flex{
    display: flex;
}

.active{
    display: block;
}

.none{
    display: none;
}

.p-buttons{
    padding: 0.9375rem 0.625rem;
}

.p-search-buttons{
    padding: 1.09375rem 3.6875rem ;
}

.m-l-20{
    margin-left: 1.25rem;
}

.m-0{
    margin: 0;
}

.m-t-20{
    margin-top: 1.25rem;
}

.p-t-150{
    padding-top: 9.375rem;
}

.p-t-80{
    padding-top: 4.375rem;
}

.t-center{
    text-align: center;
}

.d-grid{
    display: grid;
}

.sec02-content-p{
    padding: 3.625rem 1.25rem 6rem 3.25rem;
}

.p-t-50{
    padding-top: 3.125rem;
}

.p-t-27{
    padding-top: 1.6875rem;
}